.cart-item {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}

.cart-image {
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-details {
  flex-grow: 1;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.quantity-control button {
  padding: 5px 10px;
  font-size: 1rem;
}

.remove-btn {
  background: none;
  border: none;
  color: rgb(249, 249, 249);
  background-color: rgb(240, 81, 81);
  margin-top: 0.5rem;
  cursor: pointer;
}
